* {

 margin: 0;

 padding: 0;

 box-sizing: border-box;

}

body {

 font-family: Helvetica, Tahoma, Arial, sans-serif;

 background-color: rgb(147, 162, 243);

}

input, textarea {

 font-family: inherit;

 font-size: 1em;

}
.container {
  background-color: white;     
  width: 790px;                
  margin: 10px auto;           
}
header {
  background-image: url(images/header.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  width: 770px;
  height: 215px;        
  margin: 0 auto;
  padding: 10px;
  color: #eeeeee;
  text-align: right;
  text-shadow: 2px 2px 3px #222;
}
header h2{
    display: none;
}
nav {
    margin: 10px;
}
nav > ol {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
nav ol li {
position: relative;
}
nav a{
    display: inline-block;
    width: 140px;
    height: 40px;
    padding: 10px;
    background-color: rgb(147, 162, 243);
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    border-radius: 6px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: rgb(101, 135, 224);
}    
nav ol ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}
nav ol > li:hover > ol {
    visibility: visible;
    height: auto;
    margin-top: 5px;
}
nav ol ol li a {
  width: 140px;
  height: 40px;
  padding: 10px;
  background-color: rgb(147, 162, 243);
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}
nav ol ol a:hover {
  background-color: rgb(101, 135, 224);
}
#content{
    margin: 10px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
#content article {
    border: 1px dotted #000;
    padding: 10px;
    flex: 3;
    box-sizing: border-box;
}
#content article h2 {
    border-bottom: 1px dotted #000;
    margin-top: 0;
    padding-bottom: 5px;
}
#content article p{
    text-align: justify;
    margin-top: 5px;
}
#content article h2 +p {
    text-indent: 20px;
}
fieldset {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #333;
}
legend {
    margin-left: 10px;
    padding: 0 5px;

}
input[type="text"], 
input[type="email"], 
textarea {
    border: 1px solid #333;
    border-radius: 20px/10px;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}
form div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
form div label:first-of-type{
    width: 120px;
    text-align: right;
    padding-right: 10px;
}
input[type="radio"] +label  {
    width: auto;
    text-align: left;
    padding-right: 0;
}
form div:last-of-type {
    justify-content: flex-end;
}
footer{
    background-image: url('images/header.jpg');
    background-repeat: no-repeat;
    background-position: center bottom; 
    background-color: white;            
    margin: 10px;                       
    padding: 10px;                      
    color: white;                      
    text-align: right; 
}
.container {
  padding-bottom: 10px;
}


footer a {
  color: white;
  text-decoration: none;              
}

footer a:hover {
  text-decoration: underline;
}